/* ====== Contact section ====== */
.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.contact-container .contact-image img {
    width: 100%;
    height: auto;
}

.contact-container .contact-form {
    border: 0.1rem solid var(--primary-color);
    padding: 2rem;
}

.contact-container .contact-form h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #444;
    margin-bottom: 1.5rem;
}

.contact-container .contact-form .input-field {
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1.5rem;
}

.contact-container .contact-form .input-field input,
.contact-container .contact-form .input-field textarea {
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.contact-container .contact-form .input-field textarea {
    resize: none;
    height: 15rem;
}

.contact-container .contact-form .input-field:nth-child(5) {
    margin-bottom: 0;
}

.contact-container .contact-form .input-field input:is(:focus, :focus-visible),
.contact-container .contact-form .input-field textarea:is(:focus, :focus-visible) {
    color: var(--primary-color);
}

.contact-container .contact-form .button {
    cursor: pointer;
} 