/* ====== Teacher section ====== */
.teacher .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    gap: 2rem;
}

.teacher .box-container .box {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 0.5rem;
    &:hover .image .icons {
        bottom: 0;
    }
}

.teacher .box-container .box .image {
    position: relative;
    overflow: hidden;
}

.teacher .box-container .box .image img {
    width: 100%;
    height: auto;
    background-color: var(--secondary);
}

.teacher .box-container .box .image .icons {
    position: absolute;
    bottom: -10rem; 
    left: 0;
    right: 0;
    padding: 2rem;
    transition: bottom 0.3s ease;
}

.teacher .box-container .box .image .icons a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background-color: var(--primary-color);
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: var(--secondary);
    font-size: 2rem;
    transition: all 0.4s ease;
    &:hover {
        background-color: var(--secondary);
        color: var(--primary-color);
    }
}

.teacher .box-container .box .description {
    padding: 2rem;
}

.teacher .box-container .box .description h3 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.teacher .box-container .box .description h4 {
    color: #777;
    font-size: 1.5rem;
    font-weight: 400;
}